* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    padding: 1rem;
}

.btn {
    font-weight: 600;
    color: black;
    border-color: black;
}

main {
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

p, h3 {
    text-align: justify;
    font-size: 1.25rem;
}

.icon {
    float: left;
}

.text-block {
    padding: 25px 0;
    align-self: center;
}

.block {
    align-items: center;
    background-color: white;
    text-align: center;
    display: flex;
    padding: 70px 30px;
    overflow: hidden;
}

.photo {
    border-radius: 50%;
    max-width: 17rem;
}

.btn-outline-dark {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-outline-light {
    border-color: white;
}

#about-me {
    height: 100vh;
}

.section-blocks {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin-top: 25px;
}

.knowledge-block {
    text-align: center;
    height: auto;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;
    transition: all .5s;
    background-color: #A9ACA9;
    box-shadow: none;
    color: black;
}

.knowledge-block p{
    text-align: center;
}

.knowledge-images {
    width: 200px;
}
